body{
    background-color: black;
    color: white;
    margin: 0px;
}
header{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
}
.main{
    color: black;
    text-align: center;
    background-color: lawngreen;
    height: 1000px;
}
#weltxt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5%;
    padding-bottom: 10%;
}
footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cnt{
    text-align: center;
}
.lft{
    padding-left: 1%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
.qa{
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.abt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10%;
    padding-left: 1%;
    padding-right: 1%;
}